$veryDarkMagenta: #502050;
$softPink: hsl(333, 80%, 67%);
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$normal_weight: 400;
$semibold_weight: 500;
$bold_weight: 700;
